
form {
    background-color: #036;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px !important;
    cursor: pointer;
    margin: 20px 0px !important;
    float: left;
    width: 100%;
  }
  
  /* button:hover {
    background-color: #45a049;
  } */
  
  .error {
    color: #f00;
    margin-bottom: 10px;
    width: 100%;
  }